/*Overall size, centering*/
#app {
	width: 1000px;
	height: 620px;
	margin: auto;
}

/*iFixit top header*/
#title, #trash{
	z-index: 0;
	background-color: #336EAC;
	height: 100px;
	-moz-border-top-right-radius: 15px;
	border-top-right-radius: 15px;
	-moz-border-top-left-radius: 15px;
	border-top-left-radius: 15px;
	-moz-border-bottom-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

#trash > img {
	margin: 10px 30px 10px;
}

#trash > span > h1 {
	color: #FFF;
	font-family: 'Passion One', cursive;
	text-align: right;
	font-size: 30px;
}
#trash > span {
	float: right;
	margin-top: 10px;
	margin-right: 20px;
}

/*Device list and load more button*/
#pick {
	width: 700px;
	height: 500px;
	background-color: #FFF;
	float: left;
	margin-left: auto;
}

#devices {
	width: 680px;
	height: 420px;
	margin: 10px;
	overflow-y: scroll;
}

/* Device in main lsit */
div.device {
	background-color: #336EAC;
	background-position: left top;
	float: left;
	height: 130px;
	width: 130px;
	margin: 10px;	
	overflow: hidden;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

img.device {
	margin: 10px 15px 0px 15px;
	height: 92px;
	width: 100px;	
	-moz-border-radius: 15px;
	border-radius: 15px;
}

.device > span {
	margin: -30px 10px 0px 10px;
	width: 100px;
	font-family: 'Passion One', cursive;
	text-align: center;
	color: #FFF;
}

/* Load Moar button */
#load {
	width: 680px;
	height: 50px;
	margin: 10px;
	background-color: #336EAC;
	-moz-border-radius: 15px;
	border-radius: 15px;
	color: #FFF;
	font-family: 'Passion One', cursive;
	text-align: center;
	font-size: 50px;
}


/*Gear Bag*/
#grab {
	float: right;
	width: 300px;
	height: 500px;
	background-color: #F07122;
	background-position: right top;
	margin-left: auto;
	-moz-border-bottom-right-radius: 15px;
	border-bottom-right-radius: 15px;
	-moz-border-bottom-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

#bag {
	width: 280px;
	height: 480px;
	background-color: #FFF;
	margin: 10px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	overflow-y: scroll;
}

/*Items in Bag */
div.item {
	width: 240px;
	height: 75px;
	margin: 10px 10px 20px 10px;
	list-style-type: none;
	background-color: #336EAC;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

img.item {
	float: left;
	margin: 10px;
	height: 55px;
	width: 60px;	
	-moz-border-radius: 15px;
	border-radius: 15px;
}

.item > span {
	width: 130px;
	float: left;
	font-family: 'Passion One', cursive;
	text-align: center;
	color: #FFF;
	vertical-align: middle;
	margin-top: 20px;
	margin-left: 10px;
	margin-bottom: 20px;
}