#devices {
	width: 70%;
	position: relative;
}

.device {
	background-color: #33F;
	background-position: left top;
	border: 5px dashed #F99;
	float: left;
	height: 125px;
	width: 125px;
	margin: 8px;
}

#grab {
	float: right;
	width: 20%;
	height: 30%;
	background-color: #FAA;
	background-position: right top;
	top: 10%;
	right: 10%;
	position: fixed;
}

#more {
	float: center;
	width: 300px;
	height: 50px;
	background-color: #DDD;
	background-position: left top;
	position: fixed;
	bottom: 20px;
}